{# Copyright (c) 2018 Tildes contributors <code@tildes.net> #}
{# SPDX-License-Identifier: AGPL-3.0-or-later #}

{% extends 'base_no_sidebar.jinja2' %}

{% block title %}Log In{% endblock %}

{% block main_heading %}Log in{% endblock %}

{% block content %}
  <form class="form-narrow" method="post" data-ic-post-to="/login" data-ic-target="closest main">
    <input type="hidden" name="csrf_token" value="{{ get_csrf_token() }}">

    <div class="form-group">
      <label class="form-label col-4" for="username">Username</label>
      <input class="form-input" id="username" name="username" type="text" placeholder="Username" data-js-auto-focus>
    </div>

    <div class="form-group">
      <label class="form-label col-4" for="password">Password</label>
      <input class="form-input" id="password" name="password" type="password" placeholder="Password">
    </div>

    <div class="form-group">
      <label class="form-checkbox">
        <input type="checkbox" id="keep" name="keep">
        <i class="form-icon"></i> Keep me logged in
      </label>
    </div>

    <div class="form-buttons">
      <button class="btn btn-primary" type="submit">Log in</button>
    </div>
  </form>
{% endblock %}
